.app-todo-el > * {
  margin-right: 10px;
  display: inline-block;
}

.app-todo-el i {
  cursor: pointer;
}

.app-todo-el > :last-child {
  float: right;
}

.done-title {
  text-decoration: line-through;
  color: gray;
}
